<!-- this is will add the varabile layout -->
<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
                <div class="valid-feedback">looks good</div>
            </div>
            
              
              <!--
            <input type="file" name="images" multiple>
            
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="campground[image]" id="image" required>
                <div class="valid-feedback">looks good</div>
            </div>
            -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input name="campground[price]" id="price" type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="basic-addon1" required>
                    <div class="valid-feedback">looks good</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="desc">Description</label>
                <textarea style="resize: none;" class="form-control" type="text" name="campground[description]" id="desc" required></textarea>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Multiple Images Upload</label>
                <input class="form-control" type="file" id="formFileMultiple" name="images" multiple>
              </div>
            <div class="mb-3">
                <button class="btn btn-primary">Add Campground</button>
            </div>
        </form>
    </div>
</div>

